<!DOCTYPE html>
<html lang="en">
<form method="post">
	<head>
		<title>{{Title}}</title>
	</head>
	<body>
		<h1>
			{{Nome}}</h1>
		
			<br />
			Email:<br />
			<input name="email" type="text" value="{{email}}"/><br />
			<br />
			Telefone:<br />
			<input name="telefone" type="text" value="{{telefone}}"/><br />
			<br />
			Sexo:&nbsp;<br />
			<input name="sexo" type="radio" value="masculino" />masculino &nbsp; &nbsp;<input name="sexo" type="radio" value="feminino" />feminino<br />
			<br />
			Data de Nascimento:<br />
			<input type="date" name="date" value="{{date}}"><br />
			<br />
			
			Nome:<br />
			<input name="nome" type="text" value="{{nome}}"/><br />
			<br />
			Senha:<br />
			<input name="senha" type="password" value="{{senha}}"/><br />
			<br />
			<input type="submit" value="Submit" />&nbsp;
			{{ resposta }}
		<p>
			&nbsp;</p>
	</body>
	</form>
</html>