<!DOCTYPE html>
<html>
<head>
<title>Loris</title>
</head>

<body>

<h1>Seu nome: <a href="/user/{{ nome }}">{{ nome }}</a>!</h1>

<ul>
<li><a href="/home">Home</a></li>
<li><a href="/perfil">Perfil</a></li>                                                     
<li><a href="/amigos">Amigos</a></li>
<li><a href="/logout">Sair</a></li>
<br>
</ul>

<form action="/busca">
<br><input type="text" name="busca">
<input type="submit" name="button" value="Pesquisar">
<br><br>
</form>
			
<form method="post">		
<br>
<p><a href="/user/{{ autor }}"><b>{{ autor }}</b></a></p>	
<p>{{ pergunta }}</p>	
{% if alternativas[0] != "" %}	
<input type="radio" name="{{ key }}" value="a1">{{ alternativas[0] }} ({{ votos[0] }} votos)<br>
{% endif %}	
{% if alternativas[1] != "" %}	
<input type="radio" name="{{ key }}" value="a2">{{ alternativas[1] }} ({{ votos[1] }} votos)<br>
{% endif %}	
{% if alternativas[2] != "" %}	
<input type="radio" name="{{ key }}" value="a3">{{ alternativas[2] }} ({{ votos[2] }} votos)<br>
{% endif %}	
{% if alternativas[3] != "" %}	
<input type="radio" name="{{ key }}" value="a4">{{ alternativas[3] }} ({{ votos[3] }} votos)<br>
{% endif %}	
{% if alternativas[4] != "" %}	
<input type="radio" name="{{ key }}" value="a5">{{ alternativas[4] }} ({{ votos[4] }} votos)<br>
{% endif %}	
<br>
					
<button type="submit" name="button" value="{{teste}}">Comentar</button>	
<button type="submit" name="votar" value="{{ key }}">Votar</button>		
</form>		
		
{% if teste == num %}		
<br><input type="text" name="comentario">		
<button type="submit" name="button" value="eviar_comentario">Enviar</button>	
{% endif %}	
	
	
</body>

</html>